<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.type==='fruit'">
          <img width="32" alt="Fruit" src="assets/fruit.svg"/>
        </div>
        <div *ngIf="element.type==='vegetable'">
          <img width="32" alt="Vegetable" src="assets/vegetable.svg"/>
        </div>
        <div *ngIf="element.type==='fish'">
          <img width="40" alt="Fish" src="assets/fish.svg"/>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="calories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Calories</th>
      <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
    </ng-container>

    <ng-container matColumnDef="pie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>The Big Four Macronutrients</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <app-food-pie-chart [pieChartData]="element.pie"></app-food-pie-chart>
        </div>
        <!--      <button mat-icon-button color="accent" (click)="redirectToDetails(element.id)">-->
        <!--        <mat-icon class="mat-18">read_more</mat-icon>-->
        <!--      </button>-->
      </td>
    </ng-container>



<!--    <ng-container matColumnDef="fat">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fat</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.fat}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="carbohydrates">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Carbohydrates</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.carbohydrates}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="fiber">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fiber</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.fiber}} </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="protein">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header>Protein</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.protein}} </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
</div>
