table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

canvas {
  width: 10px;
  height: 10px
}

.filter-container {
  display: flex;
  width: 100%;
}

.filter-container mat-form-field {
  margin-top: 8px;
  margin-right: 8px;
}
