.grid-container {
  margin: 16px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  //background-color: mat-color($angular-accent);
  padding:4px !important;
}

.dashboard-card-content {
  flex-grow: 1;
  overflow: auto;
  text-align: center;
  flex-basis: fit-content;
}

//.mat-card {
//  padding: 0 !important;
//}

//.mat-card-content {
//  padding:5px !important;
//}

.mat-card-footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

mat-card-actions {
  margin-right: 8px;
  margin-bottom: 8px;
}



