<!--<div style="display:block;">-->
<!--  <canvas baseChart style="width: inherit;height: inherit;"-->
<!--    [data]="pieChartData"-->
<!--    [labels]="pieChartLabels"-->
<!--    [chartType]="pieChartType"-->
<!--    [options]="pieChartOptions"-->
<!--    [plugins]="pieChartPlugins"-->
<!--    [legend]="pieChartLegend"-->
<!--    [colors]="chartColors">-->
<!--  </canvas>-->
<!--</div>-->

<div>
  <div>
    <div class="normal-chart" style="display: block;" [style.height.px]="height" [style.width.px]="width">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
              [colors]="chartColors">
      </canvas>
    </div>
  </div>
</div>

<!--[width]="width" [height]="height"-->
