<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="(isSmallScreen | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="home" (click)="drawer.toggle()">
        <mat-icon class="material-icons-two-tone">home</mat-icon>
        Home
      </a>
      <a mat-list-item href="#" routerLink="definitions" (click)="drawer.toggle()">
        <mat-icon class="material-icons-two-tone">local_library</mat-icon>
        Definitions
      </a>
      <a mat-list-item href="#" routerLink="privacy-policy" (click)="drawer.toggle()">
        <mat-icon class="material-icons-two-tone">privacy_tip</mat-icon>
        Privacy
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z5">
      <a routerLink="/home">
        <img width="48" alt="FoodStat Logo" src="assets/logo.svg"/>
      </a>
      <div *ngIf="(isSmallScreen | async) === false">
        <span>{{title}}</span>
      </div>
      <div class="spacer"></div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input #filterText matInput type="text" (keyup)="filterItems(filterText.value)">
        <button mat-button *ngIf="filterText.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="filterText.value='';filterItems('')">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-icon class="material-icons-two-tone">light_mode</mat-icon>
      <mat-slide-toggle #darkModeToggle [formControl]="toggleControl"></mat-slide-toggle>
      <mat-icon class="material-icons-two-tone">dark_mode</mat-icon>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" class="material-icons-two-tone">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
