.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar span {
  font-family: Acme, Roboto;
  font-style: italic;
  font-size: xx-large;
  margin-left: 12px;
  margin-bottom: 8px;
}

.mat-toolbar mat-icon {
  margin: 0 4px 0 4px;
}

mat-label {
  font-size: x-small;
}
