@import "~@angular/material/theming";

@include mat-core();
$angular-primary: mat-palette($mat-deep-orange, 500, 100, 900);
$angular-accent: mat-palette($mat-teal, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);
@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-container {
  margin-left: 32px;
  margin-right: 32px;
  position: relative;
  -webkit-perspective: none;
  perspective: none;
}

.flippable-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 500ms;
}

.flippable-card mat-card {
  flex: 1;
  margin: 0;
  display: block;
  position: absolute;
  backface-visibility: hidden;
}

.flippable-card .back {
  transform: rotateY(180deg);
}

.flippable-card.flipped {
  transform: rotateY(180deg);
}

.spacer {
  flex: 1;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
  margin: 0 !important;
}

.mat-card-actions[align="end"] .mat-button:last-child,
.mat-card-actions[align="end"] .mat-raised-button:last-child,
.mat-card-actions[align="end"] .mat-stroked-button:last-child {
  margin: 0 !important;
}

.mat-card-actions[align="start"] .mat-button:first-child,
.mat-card-actions[align="start"] .mat-raised-button:first-child,
.mat-card-actions[align="start"] .mat-stroked-button:first-child {
  margin: 0 !important;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
  margin: 0 !important;
}

.mat-card-actions[align="end"] .mat-button:last-child,
.mat-card-actions[align="end"] .mat-raised-button:last-child,
.mat-card-actions[align="end"] .mat-stroked-button:last-child {
  margin: 0 !important;
}

.mat-card-actions[align="start"] .mat-button:first-child,
.mat-card-actions[align="start"] .mat-raised-button:first-child,
.mat-card-actions[align="start"] .mat-stroked-button:first-child {
  margin: 0 !important;
}


