<div class="bottom-banner">
  <span>
    By using our website you accept our Cookies Policy.
    Click <a routerLink="/privacy-policy" (click)="openLink($event)">here</a>
    to read our privacy and cookies policy.
  </span>
  <button mat-flat-button color="accent" (click)="agree($event)">I Agree</button>
</div>


